@import '~shared/styles/mixins';

.submenu {
  display: flex;
  flex-direction: column;
  background-color: #ffff;

  &__link {
    margin: 10px;
    text-decoration: none;
    cursor: pointer;

    @include font('p');
    @include color('color', 'darkShade50');

    &:hover {
      @include color('color', 'darkShade100');
    }

    &_state_active {
      @include color('color', 'darkShade100');
    }
  }
}
