@import '~shared/styles/mixins';

.submenu {
  display: flex;
  flex-direction: column;
  background-color: #ffff;

  &__link {
    margin: 10px;
    color: $darkShade50;
    text-decoration: none;
    cursor: pointer;

    @include font('p');

    &:hover {
      color: $darkShade100;
    }

    &_state_active {
      color: $darkShade100;
    }
  }
}
