@import '~shared/styles/mixins';

.color {
  display: flex;

  &__name {
    display: block;
    margin: 0 0 10px;

    @include font('h2');
  }

  &__hex {
    margin: 0;

    @include font('p');
  }

  &__preview {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 6px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
  }
}
