$available-breakpoints: (
  xs: 320px,
  sm: 590px,
  md: 960px,
);
$available-colors: (
  darkShade100: rgba(31, 32, 65, 1),
  darkShade75: rgba(31, 32, 65, 0.75),
  darkShade50: rgba(31, 32, 65, 0.5),
  darkShade25: rgba(31, 32, 65, 0.25),
  darkShade5: rgba(31, 32, 65, 0.05),
  purple100: #bc9cff,
  green100: #6fcf97,
  red100: rgba(226, 0, 0, 1),
);
$available-fonts: (
  h1: (
    size: 24px,
    weight: 600,
    family: Quicksand,
    lineHeight: auto,
  ),
  h2: (
    size: 19px,
    weight: 600,
    family: Quicksand,
    lineHeight: auto,
  ),
  h3: (
    size: 12px,
    weight: 600,
    family: Montserrat,
    lineHeight: 20px,
  ),
  p: (
    size: 14px,
    weight: 400,
    family: Montserrat,
    lineHeight: 24px,
  )
);
