// available colors;
$darkShade100: rgba(31, 32, 65, 1);
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade5: rgba(31, 32, 65, 0.05);
$purple100: rgba(188, 156, 255, 1);
$purple50: rgba(188, 156, 255, 0.5);
$purple25: rgba(188, 156, 255, 0.25);
$green100: rgba(111, 207, 151, 1);
$green50: rgba(111, 207, 151, 0.5);
$green25: rgba(111, 207, 151, 0.25);
$red100: rgba(226, 0, 0, 1);
$white: #ffff;
// end available colors;
$available-breakpoints: (
  xs: 320px,
  sm: 590px,
  md: 960px,
);
$available-fonts: (
  h1: (
    size: 24px,
    weight: 600,
    family: Quicksand,
    lineHeight: auto,
  ),
  h2: (
    size: 19px,
    weight: 600,
    family: Quicksand,
    lineHeight: auto,
  ),
  h3: (
    size: 12px,
    weight: 600,
    family: Montserrat,
    lineHeight: 20px,
  ),
  p: (
    size: 14px,
    weight: 400,
    family: Montserrat,
    lineHeight: 24px,
  ),
  span: (
    size: 10px,
    weight: 400,
    family: Montserrat,
    lineHeight: 10px,
  ),
  calendar: (
    size: 12px,
    weight: 400,
    family: Montserrat,
    lineHeight: 24px,
  )
);
