$available-breakpoints: (
  xs: 320px,
  sm: 590px,
  md: 960px,
);
$available-colors: (
  darkShade100: (
    color: #1f2041,
    opacity: 1,
  ),
  darkShade75: (
    color: #1f2041,
    opacity: 0.75,
  ),
  darkShade50: (
    color: #1f2041,
    opacity: 0.5,
  ),
  darkShade25: (
    color: #1f2041,
    opacity: 0.25,
  ),
  darkShade5: (
    color: #1f2041,
    opacity: 0.05,
  ),
  purple100: (
    color: #bc9cff,
    opacity: 1,
  ),
  green100: (
    color: #6fcf97,
    opacity: 1,
  )
);
$available-fonts: (
  h1: (
    size: 24px,
    weight: 600,
    family: Quicksand,
  ),
  h2: (
    size: 19px,
    weight: 600,
    family: Quicksand,
  ),
  h3: (
    size: 12px,
    weight: 600,
    family: Montserrat,
  ),
  p: (
    size: 14px,
    weight: 400,
    family: Montserrat,
  )
);
