@import '~shared/styles/mixins';

.header {
  display: block;
  height: 70px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    height: 100%;
  }

  &__expand {
    margin-left: 5px;
    transition: transform 0.5s;
  }

  &__navigation {
    @include breakpoint-down('sm') {
      display: none;
    }
  }

  &__submenu {
    position: absolute;
    top: 0;
    z-index: 1;
    display: none;
    padding-top: 40px;
    width: 200px;

    &:hover {
      display: block;
    }
  }

  &__link {
    position: relative;
    margin: 0 15px;
    color: $darkShade50;
    text-decoration: none;
    cursor: pointer;

    @include font('p');

    &:hover {
      color: $darkShade100;

      .header__expand {
        transform: rotate(180deg);
      }

      .header__submenu {
        display: block;
      }
    }

    &_state_active {
      color: $darkShade100;
    }
  }
}
