.elements-layout {
  width: 100%;
  background-color: #ffff;

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 320px;
  }

  &__element {
    margin-bottom: 20px;
  }
}
