@import '~shared/styles/mixins';

.elements-layout {
  padding: 50px 0;
  width: 100%;
  background-color: #ffff;

  &__inner {
    display: flex;
    justify-content: space-between;

    @include breakpoint-down('md') {
      flex-direction: column;
      align-items: center;
    }

    @include layout();
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin: 0 20px;
    width: 320px;
  }

  &__element {
    margin-bottom: 20px;
  }

  &__group-title {
    margin-bottom: 5px;
    color: $darkShade100;
    text-transform: uppercase;

    @include font('h3');
  }
}
