@import '~shared/styles/mixins';

.range-slider {
  display: block;
}

.range-slider .rc-slider-handle {
  margin-top: -4px;
  width: 12px;
  height: 12px;
  border-color: $purple100;

  &:focus {
    box-shadow: 0 0 3px $purple100;
  }

  &:hover {
    border-color: #57c5f7;
  }

  &:active {
    border-color: $purple100;
    box-shadow: 0 0 3px $purple100;
  }
}

.range-slider .rc-slider-track {
  background-color: $purple100;
}

.range-slider .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: $purple100;
  box-shadow: 0 0 0 3px $purple100;
}

.range-slider .rc-slider-handle-click-focused:focus {
  border-color: $purple100;
}
