@import '~shared/styles/mixins';

/* doiuse-disable user-select-none */

.toggle-button {
  position: relative;
  display: block;
  padding-left: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__label {
    color: $darkShade50;
    cursor: pointer;

    @include font('p');
  }

  &__toggle-button {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
  }

  &__checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 40px;
    height: 20px;
    border: 1px solid;
    border-color: $darkShade25;
    border-radius: 10px;
    background-color: white;

    &::after {
      position: absolute;
      top: 3px;
      left: 3px;
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $darkShade25;
      content: "";
      transition: all 0.2s ease;
    }
  }

  &__toggle-button:checked ~ &__checkmark {
    border-color: $purple100;
    background-color: white;
  }

  &:hover &__toggle-button ~ &__checkmark {
    border-color: $purple100;
  }

  /* Show the checkmark when checked */
  &__toggle-button:checked ~ &__checkmark::after {
    left: 23px;
    background-color: $purple100;
  }
}
