@import '~shared/styles/mixins';

.reset-password-layout {
  padding: 50px 0;
  width: 100%;
  height: calc(100vh - #{$headerHeight});
  background: url(../imgs/auth-background.png);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include layout();
  }
}
