@import '~shared/styles/mixins';

.sign-up-layout {
  padding: 50px 0;
  width: 100%;
  height: calc(100vh - #{$headerHeight});
  background: url(./imgs/background.png);

  &__inner {
    display: flex;
    justify-content: space-between;

    @include layout();

    @include breakpoint-down('md') {
      flex-direction: column;
      align-items: center;
    }
  }
}
